phantomjs_cdnurl=https://cnpmjs.org/downloads

chromedriver_cdnurl=https://npm.taobao.org/mirrors/chromedriver/

sass_binary_site=https://npm.taobao.org/mirrors/node-sass/

registry=http://10.0.53.132/artifactory/api/npm/npm/
