@import './common.scss';
@import './reset.scss';
@import './sidebar.scss';
@import './transition.scss';
html,
body {
  height: 100%;
  min-width: 1200px;
  overflow-y: hidden;
}

body {
  font-size: 12px;
}

a {
  text-decoration: none;
  color: rgba(60, 67, 71, 1);
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
  overflow: auto;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(206, 209, 217, 1);
  min-height: 25px;
  min-width: 25px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.el-dialog__wrapper {
  .el-dialog__body {
    padding: 15px 20px;
  }
}

.el-button-group .el-button--danger.is-plain {
  background: rgb(255, 236, 236)!important;
  color: rgb(232, 108, 108)!important;
}

// .el-button--danger.is-plain:focus,
.el-button-group .el-button--danger.is-plain:hover {
  background: rgb(232, 108, 108)!important;
  color: white !important;
}

.el-button-group .el-button--primary.is-plain {
  background: rgb(233, 244, 254)!important;
  color: rgb(71, 127, 227)!important;
}

// .el-button--primary.is-plain:focus,
.el-button-group .el-button--primary.is-plain:hover {
  background: rgb(71, 127, 227)!important;
  color: white !important;
}

.el-tooltip__popper {
  max-width: 400px;
}

.el-switch {
  width: 45px;
  height: 24px;
  .el-switch__core {
    height: 24px;
    width: 45px !important;
    border-radius: 12px;
    &::after {
      width: 20px;
      height: 20px;
    }
    &::before {
      content: '';
      color: #fff;
      text-align: right;
      width: 100%;
      display: inline-block;
      height: 24px;
      line-height: 24px;
      padding: 0 8px;
      font-size: 12px;
    }
  }
  &.is-checked {
    .el-switch__core {
      &::after {
        left: 76% !important;
      }
      &::before {
        content: '';
        text-align: left;
      }
    }
  }
}
